{% extends "case/testcase.html" %}
{% load staticfiles %}
{% block api_content %}
    <fieldset>
        <!--<div id="request-process-patent"><p></p></div>-->
        <div style="width:80%; margin-left: 20px;">
        <form method="post" class="bs-example bs-example-form" role="form" style="margin-top: 30px">
{#             {% csrf_token %}#}
            <div class="input-group">
                <span class="input-group-addon">
                    <label>项目
                        <select id="pro-dropdown">
                            <option id="proname" value="项目">请选择项目</option>
                            {% for pro in pros %}
                                <option id="proname" value="{{pro.id}}">{{pro.name}}</option>
                            {% endfor %}
                        </select></label>
                    <label>模块
                        <select id="mod-dropdown">
                            <option id="modname" value="项目">请选择模块</option>
<!--{#                            {% for mod in mods %}#}-->
<!--{#                                <option id="modname" value="{{mod.name}}">{{mod.name}}</option>#}-->
<!--{#                            {% endfor %}#}-->
                    </select></label>
                </span>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">名称</span>
                <input id="req_name" type="text" class="form-control" placeholder="name">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">URL</span>
                <input id="req_url" type="text" class="form-control" placeholder="url">
            </div>
            <br>
            <div style="margin-top: 10px;">
                <label>状态：</label>
                <label class="radio-inline">
                    <input type="radio" name="req_status" id="status_true" value="True" checked> True
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_status" id="status_false" value="False"> False
                </label>
            </div>
            <div style="margin-top: 10px;">
                <label>请求方法：</label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="get" value="get" checked> GET
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="post" value="post"> POST
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="pub" value="put"> PUT
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="delete" value="delete"> DELETE
                </label>
            </div>

            <div style="margin-top: 10px;">
                <label>参数类型：</label>
                <label class="radio-inline">
                    <input type="radio" name="req_type" id="from" value="from" checked> form-data
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_type" id="json" value="json"> JSON
                </label>
            </div>

            <br>
            <div class="input-group">
                <span class="input-group-addon">Header</span>
                <input id="req_header" type="text" class="form-control">
            </div>
            <p style="color:#8B8989">说明：以字典的方式设置参数，如：{"content-type": "application/json"}</p>
            <br>
            <div class="input-group">
                <span class="input-group-addon">参数</span>
                <input id="req_parameter" type="text" class="form-control">
            </div>
            <p style="color:#8B8989">说明：以字典的方式设置参数，如：{"id":1, "name":"名称"}</p>
            <div style="width: 100%; height: 60px;">
                <button type="button" class="btn btn-success" id="send" style="float: right;margin-right: 10px;">调试</button>
                <button type="button" class="btn btn-success" id="save" style="float: right;margin-right: 10px;">保存</button>
                <button type="button" class="btn btn-success" id="return" style="float: right;margin-right: 10px;">返回</button>
            </div>

        </form>

        </div>

        <div style="width:80%; margin-left: 20px;">
            <p>返回结果：</p><div id="request-process-patent"><p></p></div>
            <textarea id="result" class="form-control" rows="10" name=textarea></textarea>
        </div>

    </fieldset>
{% endblock %}
<!--{#<script src="{% static '/bootstrap/js/jquery.cookie.js' %}"></script>#}-->
<!--{#<script src="{% static '/bootstrap/js/csrftoken.js' %}"></script>#}-->
